.main-block {
  background: rgb(128,205,198);
  background-position: top left;
  border: 1px solid black;
  width: 620px;
  height: 510px;
}



.world {
  position: absolute;
  width: 620px;
  top: 140px;
  
}

.clouds {
  position: absolute;
  width: 400px;
  left: 225px;
  
}

.wooden-ship {
  position: absolute;
  width: 130px;
  top: 350px;
  left: 30px;
}

.water {
  position: absolute;
  width: 623px;
  left: 8px;
  top:  468px;
}